/* Inter Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

#home-container {
  color: #f0f8ff;
  background-color: #05020d;
  background-image: url("../../images/home/background.jpg");
  background-size: min(100em, 100%);
  background-repeat: no-repeat;
  background-position: center 0;

  min-height: 100dvh;
  height: 200vh;
}

#home-container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: clamp(60em, 90%, 80em);
  margin: 0 auto;
  padding: 2em 0;
}

#home-container nav #links a {
  font-family: "Inter", sans-serif;
  color: aliceblue;
  text-decoration: none;
  color: grey;
  font-weight: 500;
  margin: 0 1.25em;
}

#home-container .nav-btn {
  font-family: "Inter", sans-serif;
  padding: 0.5em 1.75em;
  border-radius: 0.5em;
  cursor: pointer;
  font-weight: 500;
  transition: 0.25s ease;
}

#home-container #login-btn {
  background: none;
  color: aliceblue;
  border: 1px solid aliceblue;
  margin-right: 1em;
}

#home-container #login-btn:hover {
  background: rgba(255, 255, 255, 0.25);
}

#home-container #register-btn {
  background: aliceblue;
  color: black;
  border: 1px solid aliceblue;
}

#home-container #register-btn:hover {
  background: rgba(255, 255, 255, 0.25);
  color: aliceblue;
}

#home-container main {
  width: clamp(60em, 90%, 80em);
  margin: 0 auto;
  padding: 12em 0;
  display: flex;
  flex-direction: column;
  gap: 12em;
}

#home-container h1 {
  font-family: "Inter", sans-serif;
  font-size: 5.5em;
  /* font-size: clamp(3em, 25vmin, 8em); */
  font-weight: 825;
  text-align: center;
  letter-spacing: -0.1rem;
}

#home-container #gradient-text {
  --bg-size: 500%;
  --color-one: ;
  --color-two: #00dfd8;
  background: linear-gradient(
      90deg,
      hsl(209 100% 50%),
      hsl(178 100% 45%),
      hsl(40 95% 55%),
      hsl(15 90% 55%),
      hsl(255 80% 60%),
      hsl(209 100% 50%)
    )
    0 0 / var(--bg-size) 100%;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@media (prefers-reduced-motion: no-preference) {
  #gradient-text {
    animation: gradient-cycle 20s linear infinite;
  }
  @keyframes gradient-cycle {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}

#home-container #hero p {
  text-align: center;
  font-size: 1.25em;
  color: rgba(255, 255, 255, 0.4);
  margin-top: 1em;
}

#home-container #buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 5em;
}

#home-container #buttons button {
  font-family: "Inter", sans-serif;
  width: 12em;
  height: 3em;
  border-radius: 0.5em;
  cursor: pointer;
  font-weight: 500;
  transition: 0.25s ease;
}

#home-container #cta-1 {
  background: aliceblue;
  color: black;
  border: none;
  border: 1px solid white;
}

#home-container #cta-1:hover {
  background: rgba(255, 255, 255, 0.25);
  color: aliceblue;
}

#home-container #cta-2 {
  /* https://dev.to/noriste/production-grade-gradient-bordered-transparent-and-rounded-button-56h4 */
  border-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='none'%3e%3cpath stroke='url(%23a)' stroke-width='2' d='M8 1h84a7 7 0 0 1 7 7v84a7 7 0 0 1-7 7H8a7 7 0 0 1-7-7V8a7 7 0 0 1 7-7Z'/%3e%3cdefs%3e%3clinearGradient id='a' x1='20.27' x2='120.715' y1='125' y2='113.589' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FF7AAC'/%3e%3cstop offset='.367' stop-color='%23FF7AAC'/%3e%3cstop offset='.682' stop-color='%232885FD'/%3e%3cstop offset='1' stop-color='%233DDABE'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e")
    8 / 8px stretch;
  background: transparent;
  color: white;
  transition: 0.25s ease;
  animation: rainbow 2s linear infinite;
}

@keyframes rainbow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

#home-container #cta-2:hover {
  filter: hue-rotate(-50deg);
  background: rgba(255, 255, 255, 0.25);
}

#home-container #stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#home-container #stats div:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.25);
}

#home-container #stats h2 {
  font-family: "Inter", sans-serif;
  font-size: 3.25em;
  font-weight: 675;
  text-align: center;
}

#home-container #stats p {
  font-family: "Inter", sans-serif;
  letter-spacing: 0.075em;
  font-size: 0.95em;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  font-weight: 500;
}
